{% extends 'food/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <ul class="p-0 mt-5">
        {% for item in items %}
        <div class="card mb-3" style="max-width: 50rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{item.image_url}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.desc | truncatewords:20}}</p>
                        <span class="card-text"><small class="text-body-secondary">Rs. {{item.price}}</small></span>
                        <span style="margin-left: 20px;">{{item.author}}</span>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <a href={% url 'food:food-details' item.id %} class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock content %}